body{
    background-color: white;
    background-image: url('https://microsoft.acehacker.com/engage2021/img/demo-content/images/scrum_programmer.png');
}
.VClogin{
    text-align: left;
    margin-top: 100px;
    font-size: large;
}
.Chatlogin{
    text-align: left;
    font-size: large;

}